body{
    background-color: #13141b;
    color: #ffffff;
    background-image: url(images/bg-image.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.form-control{
    background-color:rgba(255, 255, 255, 0.2);
    padding: 22px;
    border: none;
    border-radius: 25px;
}
.btn{
    border-radius: 1.5rem;
    padding: 9px 20px;
}

.btn-privious{
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}
.navbar-toggler {
    border: none;
}
.search-box{
    position: relative;
}
.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.single-result{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}
.result{
color :white;
text-align: center;
margin-top: 20px;
position: relative;


}

.song-list{
    margin-top: 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 27px;
    transform: translate(-50%,0);
}

.song-list li{
    padding: 18px;
    margin-bottom: 20px;
    width: 500px;
    justify-content: space-evenly;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(92, 145, 127);
}



.song-list::after{
    content: "";
    position: absolute;
    right: -20px;
    left: -20px;
    bottom: -4px;
    background: rgba(12,147,100);
    display: inline-block;
}
.song-list li div{
    float: left;
}

.song-list li span{
    float: right;
    background-color: rgba(12,147,100);
    border: none;
    border-radius: 10px;
    color:#fff;
    cursor: pointer;
    font-weight: 400;
    padding: 4px 10px;
    text-transform: capitalize;

}
